body {
        font-family: 'Montserrat', sans-serif;
}

header {
        background: #BBBBBB;
        padding: 20px 0;
}

.caixa {
        position: relative;
        width: 940px;
        margin: 0 auto;
}

nav {
        position: absolute;
        top: 110px;
        right: 0;
}

nav li {
        display: inline;
        margin: 0 0 0 15px;
}

nav a {
        font-weight: bold;
        text-transform: uppercase;
        color: #000000;
        text-decoration: none;
        font-size: 22px;
}

nav a:hover {
color: #C78C19;
text-decoration: underline;
}

.produtos {
        width: 940px;
        margin: 0 auto;
        padding: 50px 0;
}

.produtos li {
        display: inline-block;
        text-align: center;
        width: 30%;
        vertical-align: top;
        margin: 1.5%;
        padding: 30px 20px;
        box-sizing: border-box;
        border: 2px solid #000000;
        border-radius: 10px;
}

.produtos li:hover {
        border-color: #C78C19;
}

.produtos li:hover h2{
        font-size: 34px;
}

.produtos li:active {
        border-color:green;
}

.produtos h2 {
        font-size: 30px;
        font-weight: bold;
}

.produto-descrição {
        font-size: 22px;
}

.produto-preço {
        font-size: 40px;
        font-weight: bold;
        margin-top: 10px;
}

footer {
        text-align: center;
        background: url("/img/bg.jpg");
        padding: 20px 0;
}

.Copyright {
        color: #BBBBBB;
        font-size: 13px;
        margin-top: 20px;
}

@media screen and (max-width: 480px) {
        .caixa, .produtos {
                width: auto;
        }

        .caixa h1 {
                text-align: center;
        }

        .caixa nav {
                position: relative;
                top: auto;
        }

        .produtos li {
                width: auto;
        }
}